/* Adapted from CS240: https://cs.wellesley.edu/~cs240/f18/*/

/* Tags */
.purple_tag,
.orange_tag,
.green_tag,
.red_tag,
.gold_tag,
.blue_tag,
.black_tag,
.tag {
    border-radius: 3px;
    border: 1px solid;
    padding: 1px 5px;
    font-size: smaller;
    font-weight: bold;
}

.black_tag,
.extracredit_tag {
    border-color: #000;
    color: #000;
    background: #aaa;
}

.purple_tag,
.exam_tag {
    border-color: #428;
    color: #428;
    background: #edf;
}

.orange_tag,
.preclass_tag {
    border-color: #d70;
    color: #d70;
    background: #fed;
}

.green_tag,
.released_tag {
    border-color: #383;
    color: #383;
    background: #dfd;
}

.blue_tag,
.topic_tag {
    border-color: #27e;
    color: #27e;
    background: #def;
}
.gold_tag,
.lab_tag {
    border-color: #DAA520;
    color: #DAA520;
    background: #FAFAD2;
}

.red_tag,
.due_tag {
    border-color: #833;
    color: #833;
    background: #fdd;
}




/* Course Calendar */

.course_calendar {
    width: 100%;
    /* counteract top-level ul clearing trick */

    font-size: 10pt;
    border-collapse: separate;    
}

.course_calendar .vertical,
.course_calendar .date_label_dow {
    display: none;
}

.course_calendar .date_label {
    color: #666;
    font-size: 9pt;
}

.course_calendar .date_label_day {
    font-weight: bold;
}

.course_calendar td {
    vertical-align: top;
    margin: 0em;
    padding: 0.4em 0.7em;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-color: #cccccc;
}

.course_calendar th {
    vertical-align: top;
    margin: 0em;
    padding: 0.5em;

    background: #5a5a5a;
    color: #ffffff;    
}

.course_calendar .light_row td {
    background: #fafafa;
}

.course_calendar .dark_row td {
    background: #f2f2f2;
}

.course_calendar td.normalday {
    background: #fafafa;    
}

.course_calendar td.holiday {
    border-color: #666;
    background: #bfbfbf;
}

.course_calendar .holiday li,
.course_calendar .altschedule {
    font-weight: bolder;
}

.course_calendar .altschedule li {
    font-weight: lighter;
}

.course_calendar td.altschedule {
    border-color: #666;
    /* background: darken($grey-color-light, 10%); */
}

.course_calendar td.examperiod,
.course_calendar td.readingperiod {
    border-color: #d70;
}

.course_calendar td.examperiod .date_label,
.course_calendar td.readingperiod .date_label {
    color: #d70;
}

.course_calendar .day_note {
    font-weight: bolder;
    display: block;
}

.course_calendar .day_agenda {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.course_calendar ul:before {
    content: initial;
    width: initial;
    display: initial;
    overflow: initial;
}

.course_calendar .topic_link {
    display: inline-block;
}

.course_calendar .assign_label,
.course_calendar .exam_label {
    font-weight: bolder;
    text-style: italic;
}

.course_calendar .topic_extras {
    font-size: 0.8em;
    display: inline-block;
}

.course_calendar td.new_month {
    border-color: #428;
}

.course_calendar .new_month .date_label {
    color: #428;
    font-weight: bold;
}

.course_calendar p {
    color:  #000000;
}

